In [2]:
import sqlite3

### 1 method

In [14]:
connection=sqlite3.connect("test.db")
query="select datetime('now', 'localtime')"
cursor=connection.cursor()
time = cursor.execute(query)

time = time.fetchone()[0]
print(time)
connection.close()

2026-02-07 12:37:58

In [39]:
with sqlite3.connect("test.db") as connection:
    cursor=connection.cursor()
    query="select datetime('now', 'localtime')"
    data=cursor.execute(query)
data.fetchone()
data.fetchmany(1)
data.fetchall()
connection.close()

### 2 method

In [3]:
with sqlite3.connect("students.db") as connection:
    cursor=connection.cursor()
    query="create table students(name text, lname text, age int, email text);"
    data=cursor.execute(query)
    connection.commit()

In [ ]:
with sqlite3.connect("students.db") as connection:
    cursor=connection.cursor()
    query="insert into students values('ali','vali',21 , 'asddfhb@gmail.com')"
    data=cursor.execute(query)
    connection.commit()

### 3 method

In [ ]:
create = """
    create table students3(fname text, lname text, age int)
"""
insert = """ 
    insert into students3 values('ali','vali', 21),('ali','vali', 21),('ali','vali', 21);
"""
delete = """ 
    drop table students3
"""

In [ ]:
with sqlite3.connect("students3.db")as connection:
    cursor=connection.cursor()
    cursor.execute(create)
    cursor.execute(insert)
    cursor.execute(delete)