In [ ]:
import sqlite3

### 1 method

In [14]:
connection=sqlite3.connect("test.db")
query="select datetime('now', 'localtime')"
cursor=connection.cursor()
time = cursor.execute(query)

time = time.fetchone()[0]
print(time)
connection.close()

2026-02-07 12:37:58

In [39]:
with sqlite3.connect("test.db") as connection:
    cursor=connection.cursor()
    query="select datetime('now', 'localtime')"
    data=cursor.execute(query)
data.fetchone()
data.fetchmany(1)
data.fetchall()
connection.close()

### 2 method

In [3]:
with sqlite3.connect("students.db") as connection:
    cursor=connection.cursor()
    query="create table students(name text, lname text, age int, email text);"
    data=cursor.execute(query)
    connection.commit()

In [ ]:
with sqlite3.connect("students.db") as connection:
    cursor=connection.cursor()
    query="insert into students values('ali','vali',21 , 'asddfhb@gmail.com')"
    data=cursor.execute(query)
    connection.commit()

### 3 method

In [1]:
create = """
    create table students3(fname text, lname text, age int)
"""
insert = """ 
    insert into students3 values('ali','vali', 21),('ali','vali', 21),('ali','vali', 21);
"""
delete = """ 
    drop table students3
"""

In [ ]:
with sqlite3.connect("students3.db")as connection:
    cursor=connection.cursor()
   # cursor.execute(create)
   # cursor.execute(insert)
    cursor.execute(delete)

### 4 method

In [17]:
sql = """ 
    drop table if exists students3;

    create table students3(fname text, lname text, age int);

    insert into students3 values
    ('ali','vali', 21),
    ('ali','vali', 21),
    ('ali','vali', 21);
"""

In [18]:
with sqlite3.connect("students3.db")as connection:
    cursor=connection.cursor()
    cursor.executescript(sql)

### select

In [27]:
with sqlite3.connect("students3.db") as connection:
    cursor = connection.cursor()
    query= "select * from students3"
    data = cursor.execute(query)
data.fetchall()

[('ali', 'vali', 21), ('ali', 'vali', 21), ('ali', 'vali', 21)]

In [ ]:
with sqlite3.connect("students3.db") as connection:
    cursor = connection.cursor()
    query= "select * from students3 order by age "
    data = cursor.execute(query)
data.fetchmany(2)

### 5 method

In [33]:
student_values= (
    ('ali', 'vali', 21),
    ('ali', 'vali', 21),
    ('ali', 'vali', 21)
        )

In [29]:
with sqlite3.connect("students3.db") as connection:
    cursor=connection.cursor()
    data= cursor.executemany("insert into students3 values(?,?,?)", student_values)

In [35]:
with sqlite3.connect("students3.db")as connection:
    cursor= connection.cursor()
    placeholders=", ".join(["?"]*3)
    data=cursor.executemany(f"insert into students3 values ( {placeholders} )", student_values)

### with input

In [40]:
fname = input("ism?")
lname = input ("familya?")
age = input("yosh?")

query=( 
    f"insert into students3 values('{fname}','{lname}','{age}');"
)

with sqlite3.connect("students3.db") as connection:
    cursor=connection.cursor()
    data = cursor.executescript(query)

In [47]:
fname = input("ism?")
lname = input ("familya?")
age = input("yosh?")

values = [(fname, lname, age)]
#query=( 
 #   f"insert into students3 values('{fname}','{lname}','{age}');"
#)

with sqlite3.connect("students3.db") as connection:
    cursor=connection.cursor()
    data = cursor.executemany("insert into students3 values (?, ?, ?)", values)

In [1]:
sql = """ 
    drop table if exists students3;

    create table students3(fname text, lname text, age int);

    insert into students3 values
    ('ali1','vali', 21),
    ('ali2','vali', 31),
    ('ali3','vali', 41);
"""

In [7]:
with sqlite3.connect("students3.db")as connection:
    cursor = connection.cursor()
    cursor.executescript(sql)
    cursor.execute("alter table students3 add column email text")
    cursor.execute("update students3 set email='gefvdc@gmail.com' where age=21 ")
    cursor.execute("update students3 set email='genjfvdc@gmail.com' where age=31 ")
    cursor.execute("update students3 set email='gefvojmdc@gmail.com' where age=41 ")