In [28]:
import sqlite3

In [29]:
sql= """ 
    drop table if exists roster;
     
    create table roster(name text, species text, age int);
     
    insert into roster values
    ('Benjamin Sisko','Human',40),
    ('Jadzia Dax','Trill',300),
    ('Kira Nerys','Bajoran',29);
     """

In [30]:
with sqlite3.connect("roster.db") as connection:
    cursor=connection.cursor()
    cursor.executescript(sql)

In [31]:
with sqlite3.connect("roster.db") as connection:
    cursor=connection.cursor()
    cursor.execute("update roster set name='Jadzia Dax' where name='ezri Dax'")

In [32]:
with sqlite3.connect("roster.db") as connection:
    cursor=connection.cursor()
    cursor.execute("select name, age from roster where species='Bajoran'")

In [33]:
with sqlite3.connect("roster.db") as connection:
    cursor=connection.cursor()
    cursor.execute("delete from roster where age>100")

In [34]:
with sqlite3.connect("roster.db") as connection:
    cursor=connection.cursor()
    cursor.execute("alter table roster add column rank text")
    cursor.execute("update roster set rank='captain' where name='Benjamin Sisko'")
    cursor.execute("update roster set rank='lieutenant' where name='Ezri Dax'")
    cursor.execute("update roster set rank='major' where name='Kira Nerys'")

In [35]:
with sqlite3.connect("roster.db") as connection:
    cursor=connection.cursor()
    cursor.execute("select * from roster")